/*@font-face {
    font-family: "MuseoSansCyrl";
    src: url("/fonts/MuseoSansCyrl-500.otf");
    font-weight: normal;
    font-style: normal;
}
*/
html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}


a {
	color: #415e21;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}



body {
	font-size: 8pt;
	font-family: Courier, sans-serif;
    height: 100%;
}

br.clear {
	clear: both;
}

#header {
	position: fixed;
	height: 90px;
	width: 100%;
	background-color: #331e19;
	z-index: 1;
	font-family: Courier, sans-serif;
}

#logo {
	position: absolute;
	top: 30px;
	left: 30px;
	height: 80px;
	line-height: 80px;
	letter-spacing: -1px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

#logo h1 {
	font-size: 2.75em;
	font-family: Arvo, serif;
}
/*
h2,h3,h4 {
	margin-bottom: 1em;
	font-family: Arvo, serif;
}

ul {
	margin-bottom: 1.5em;
}
*/
/*
.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}
*/
#box1 {
    height: 30px;
	border-bottom: solid 1px #e6e8eb;
	padding-left: 40px;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #331e19;
}

#box2 {
	height: 145px;
	float: left;
	width: 72.9%; 
}

#name {
	padding-left: 30px;
	padding-top: 25px;
	float: left;
	color: #331e19;
}

.namegalery {
     padding-top: 25px;
}

#amount {
	float: right;
	padding-top: 30px;
    padding-right: 30px;
    color: #716226;
}

#box3 {
	height: 145px;
	width: 27.1%;
	float: right;
	margin-right: 0;
	color: #716226;
	background-color: #cfc38f; 
	text-align: left;
}

#box3 h2 {
	padding-top: 25px;
	padding-left: 30px;
}

#content {
    margin-left: 285px;
	padding-top: 90px;
	background: #ffffff;
	height: 100%;
}
.number {
	font-size: 30pt;
	color: #cfc38f;
	text-align: right;
	padding-bottom: 20px;
}

#boxphoto {
	margin-top: 0;
    height: 600px;
    width: 100%;
	color: #716226;
}


#main {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: #6b6b6b;
}

/*
#main a {
	color: #262626;
}

#main strong {
	color: #404040;
}

#main h2, #main h3, #main h4 {
	color: #141414;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 10px 0 10px 0;
	border-top: dashed 1px #bfbfbf;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}
*/

#nav {
	position: relative;
	float: right;
	padding-top: 30px;
	padding-right: 20px;
	font-size: 8pt;
	font-family: Courier, sans-serif;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
	margin: 0 0.5em 0 0.5em;
	padding: 0.25em 1.1em 0.25em 1.1em;
}

#nav ul li.active {
	color: #ffe987;
}

#nav li a {
	text-decoration: none;
	color: #cfc38f;
}

#nav ul li.active a {
	color: #ffe987;
}

#sidebar {
	margin-top: 90px;
	width: 285px;
	float: left;
	background-color: #cfc38f;
	color: #605113; /*уточнить цвет*/
	position: fixed;
	padding-top: 50px;
}

#sidebar a {
	color: #605113;
}

#sidebar h2 {
	color: #605113;
	font-size: 8pt;
}

#sidebar ul {
	padding-left: 42px;
	list-style-image: url(img/ico.png); /*сюда картинки*/
}

#sidebar ul li {
	padding: 10px 0 10px 25px;
}
/*
#sidebar ul li.first {
	padding-top: 0;
}
*/

#info {
	padding-bottom: 40px;
	padding-left: 45px;
	background-color: inherit;
	color: #605113;
	text-align: left;
}

#connect {
	height: 60px;
	background-color: #d97925;
	color: #cfc38f;
	padding-left: 45px; 
	padding-top: 20px;
	text-align: left;

}
#reject {
	height: 60px;
	background-color: #415e21;
	color: #cfc38f;
	padding-top: 20px;
	padding-left: 45px; 
	text-align: left;
	margin-bottom: 0px;
}