@font-face {
	font-family: OldType;
	src: url(fonts/OldType.ttf);
  }

html, body {
  font-family: "OldType", sans-serif;
  color: #a86d14;
  background-color: #fffff0;
  margin: 0;
  padding: 0;
}
.main-head {
  background-image: url(img/boots.jpg);
  background-size: cover;
  min-height: 100vh;
}
.logo{
  height: 300px;
  margin-top: 150px;
  margin-left: 800px;
}
span{
  padding-left: 700px;
  margin-top: 70px;
  font-size: 30px;
  font-family: "OldType", sans-serif;
  color: #a86d14;
 
}
.navbar{
  margin: 20px;
  text-align: center;
}
.navbar li{
  display: inline-block;
  font-family: "OldType";
  font-style: bold;
  font-size: 26px;
}
.navbar a{
  display: block;
  padding: 0px 50px;
  color: #a86d14;
  text-decoration: none;
}
.navbar a:hover{
  color: #967117;
}

hr{
  border: none;
  background-color: #a86d14;
  color: #a86d14;
  height: 2px;
  width: 60%;
  padding: center;
}

h1{
  text-align: center;
}
p{
  padding: 5px 90px 30px 90px;
}
.foto{
  width: 510px;
  height: 250px;
  float: right;
  margin: 5px;
}
.class1{
  list-style-type: none;
  margin-left: 100px;
}
table{
  margin-left: 250px;
}
.about{
  width: 250px;
  height: 250px;
}
h2{
  text-align: left;
  margin-bottom: -10px;
}
.price{
  height: 250px;
  padding: 40px;
}
.okno{
  background-image: url(img/иппо3.jpg);
  width: 400px;
  display: none;
}
.okno:target{
  display: block;
}


.leftstr, .rightstr{
  float: left;
}

.rightstr{
  text-align: right;
  margin-left: 300px;
}
a{
  color: #967117;
  text-decoration: none;
}
.icon1{
  width: 50px;
  height: 50px;
  margin-left: 590px;
}
.icon2{
  width: 80px;
  height: 50px;
  margin-left: 30px;
}
.totop{
  position: fixed;
  bottom: 5%;
  left: 2%;
  width: 60px;
  opacity: 0.4;
  z-index: 1;
}
footer{
  background-color: #302112;
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 40px;
}
img.totop.enabled {
    opacity: 1;
}
newsite.css:141
.totop {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}